
@{
    ViewData["Title"] = "ConFirmEmail";
}

<h2>
    Your account have been created, we have sent one email for you to vertiy, please vertify it before you want to watch and edit your profile.
    </h2>
