@model PharmaceuticalsCompany.Models.Career.ResetPassWordViewModels
@{
    ViewData["Title"] = "ResetPassWord";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>reset password</h1>
<style>
    .Reset
    {
        width:40%;
        border:1px solid;
       padding-left:10px;
       padding-right:10px;
        margin:auto;
        left:0;
        right:0;
    }

    .field-icon {
        float: right;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
</style>
<script>
  
    $(document).ready(function () {
        $("input[type = 'password']").keyup(function () {

            if ($(this).val() != "") {
                $(this).parent().find(".passWordShowHide").removeClass("hidden");
            }
            else {
                $(this).parent().find(".passWordShowHide").addClass("hidden");
            }


        });

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $('input[name="PassWord"]').focus(function (e) {
            $(".errorPass").html("");
        });

        $('input[name="ConfirmPassWord"]').focus(function (e) {
            $(".errorConFirm").html("");
        });
        $(".Reset").submit(function (e) {


            e.preventDefault();
            var flag = true;
            var pass = $('input[name="PassWord"]').val().trim();
            var confirmpass = $('input[name="ConfirmPassWord"]').val().trim();

            if (pass == "") {

                $(".errorPass").html("password is required");
                flag = false;
            }


            if (confirmpass == "") {
                $(".errorConFirm").html("ConFirmPassword is required");
                flag = false;
            }
            else if (confirmpass != pass) {
                $(".errorConFirm").html("Password and confirm must be match");
                flag = false;
            }
            if (flag == true) {
                $.ajax({
                    method: 'post',
                    url: this.action,
                    data: $(this).serialize(),
                    datatype: 'json',
                    error: function (xhr) {
                        console.log(xhr);
                        alert("loi");
                    },
                    success: function (result) {

                        if (!result.success) {


                            var error = "";
                            for (i = 0; i < result.errors.length; i++) {
                                console.log(result.errors[i].key);
                                console.log(result.errors[i].errors[0]);
                                error += result.errors[i].errors[0] + "<br/>";

                            }

                            $(".errorPass").html(error);
                        }
                        else {
                            $(".Reset").hide();
                            $(".ResetSucess").removeAttr("hidden");
                        }

                    }
                });
            }

        });
    });
</script>

<hr />

@if (ViewBag.InvalidToken == null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="ResetSucess" hidden>
                <h1>
                    Your PassWord has been reset ,you can
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Admin">click here</a>
                    }
                    else

                    {
                        <a href="/Career">click here</a>
                    }
                    to continue
                </h1>
            </div>
            <form asp-action="ResetPassWord" asp-controller="Career" method="post" class="Reset">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="token" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <div class="form-group">
                    <label asp-for="PassWord"></label>

                    <input  asp-for="PassWord" class="form-control " id="Pass" />
                    <span toggle="#Pass" class="hidden passWordShowHide fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                    <span asp-validation-for="PassWord" class="text-danger errorPass" />

                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassWord"></label>
                    <input asp-for="ConfirmPassWord" class="form-control " id="confirmPass" />
                    <span toggle="#confirmPass" class="hidden passWordShowHide fa fa-fw fa-eye-slash field-icon toggle-password"></span>

                    <span asp-validation-for="ConfirmPassWord" class="text-danger errorConFirm" />

                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>




}
else
{ 
    <h1 style="color:red">   @ViewBag.InvalidToken</h1>

}