

.personalDetail h1 {
    margin-left: 20px;
}

.personalDetail form-group {
    width: 90%;
}

.sendmail .modal-header {
    background-color: black;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}

.sendmail .close {
    margin-top: -20px;
}

.sendmail .modal-title, .sendmail .close {
    color: white;
}

.sendmail .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.sendmail textarea {
    height: 150px;
}
@media all and (max-width:990px) {
    .calculator th {
        display: none;
     
    }
    .calculator tr {
        display: table;
        width: 100%;
        margin-bottom:20px;
    }

    .calculator td {
        display: table-row;
    }
}

.booking-form {
    background-color: black;
    border-radius: 2px;
    width: 100%;
}

    .booking-form > form .row.no-margin {
        margin-right: 0px;
        margin-left: 0px;
    }

        .booking-form > form .row.no-margin > [class*="col-"] {
            padding-right: 0px;
            padding-left: 0px;
        }

    .booking-form .form-group {
        position: relative;
        padding: 25px;
        margin-bottom: 0px;
    }

@media screen and (min-width:805px) {

    .booking-form .separator:after {
        content: '';
        background: rgb(240, 240, 240);
        position: absolute;
        top: 25px;
        bottom: 0;
        right: 0px;
        width: 2px;
        height: 75px;
    }
}

.booking-form .form-control {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    height: 50px;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
}

    .booking-form .form-control::-webkit-input-placeholder {
        color: #818390;
    }

    .booking-form .form-control:-ms-input-placeholder {
        color: #818390;
    }

    .booking-form .form-control::placeholder {
        color: #818390;
    }

.booking-form input[type="date"].form-control:invalid {
    color: #818390;
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    .booking-form select.form-control + .select-arrow {
        position: absolute;
        right: 0px;
        bottom: 30px;
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: #818390;
        font-size: 14px;
    }

        .booking-form select.form-control + .select-arrow:after {
            content: '\279C';
            display: block;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

.booking-form .form-label {
    color: yellow;
    display: block;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.booking-form .form-btn {
    padding: 25px;
}

.booking-form .submit-btn {
    background: #ff0063;
    border: none;
    text-transform: capitalize;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 75px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.booking-form .form-header {
    padding: 15px 10px;
    font-family: 'Alegreya', serif;
    margin-bottom: 20px;
    font-size: 52px;
    color: #F2AA4CFF;
    font-weight: bold;
    border: none;
}

    .booking-form .form-header button {
        float: right;
        margin-top: 40px;
        margin-right: -10px;
    }