body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #57b846;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

.container-contact2 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(219,21,99,0.8);
    background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}


.contact2-form {
    width: 100%;
}

.contact2-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 90px;
}

.wrap-input2 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input2 {
    display: block;
    width: 100%;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
}

.focus-input2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input2::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: rgba(219,21,99,1);
        background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
        background: -o-linear-gradient(45deg, #d5007d, #e53935);
        background: -moz-linear-gradient(45deg, #d5007d, #e53935);
        background: linear-gradient(45deg, #d5007d, #e53935);
    }

    .focus-input2::after {
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        font-family: Poppins-Regular;
        font-size: 13px;
        color: #999999;
        line-height: 1.2;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

/*---------------------------------------------*/
input.input2 {
    height: 45px;
}

    input.input2 + .focus-input2::after {
        top: 16px;
        left: 0;
    }

textarea.input2 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
}

    textarea.input2 + .focus-input2::after {
        top: 16px;
        left: 0;
    }

.input2:focus + .focus-input2::after {
    top: -13px;
}

.input2:focus + .focus-input2::before {
    width: 100%;
}

.has-val.input2 + .focus-input2::after {
    top: -13px;
}

.has-val.input2 + .focus-input2::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-contact2-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.contact2-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: rgba(219,21,99,1);
    background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
    left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-contact2 {
        padding: 72px 15px 90px 15px;
    }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}



@media screen and (max-width: 325px) {
    .wrap-contact2 .tab {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

container-contact2 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(219,21,99,0.8);
    background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.wrap-contact2 {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;
}

.contact2-form {
    width: 100%;
}

.contact2-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 90px;
}

.wrap-input2 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input2 {
    display: block;
    width: 100%;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
}

.focus-input2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input2::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: rgba(219,21,99,1);
        background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
        background: -o-linear-gradient(45deg, #d5007d, #e53935);
        background: -moz-linear-gradient(45deg, #d5007d, #e53935);
        background: linear-gradient(45deg, #d5007d, #e53935);
    }

    .focus-input2::after {
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        font-family: Poppins-Regular;
        font-size: 13px;
        color: #999999;
        line-height: 1.2;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

/*---------------------------------------------*/
input.input2 {
    height: 45px;
}

    input.input2 + .focus-input2::after {
        top: 16px;
        left: 0;
    }

textarea.input2 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
}

    textarea.input2 + .focus-input2::after {
        top: 16px;
        left: 0;
    }

.input2:focus + .focus-input2::after {
    top: -13px;
}

.input2:focus + .focus-input2::before {
    width: 100%;
}

.has-val.input2 + .focus-input2::after {
    top: -13px;
}

.has-val.input2 + .focus-input2::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-contact2-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.contact2-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: rgba(219,21,99,1);
    background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
    left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-contact2 {
        padding: 72px 15px 90px 15px;
    }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.wrap-contact2 .tab {
    border: solid transparent;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-bottom: 20px;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
  
}

   
    .wrap-contact2 .tab .tablinks {
        padding-top: 20px;
        background: transparent;
        border: none;
        outline: none;
        -o-outline: none;
        -ms-outline: none;
        -moz-outline: none;
        -webkit-outline: none;
        font-family: 'Source Sans Pro', sans-serif;
      
        font-weight: 400;
        color: black;
        padding-bottom: 22px;
        border-bottom: 3px solid;
        border-bottom-color: rgba(255, 255, 255, 0.2);
        width: 100%;
    }

    .wrap-contact2 .tab .tablinks {
        font-weight: 700;
        color: #fff;
        background: #D8D8D8;
        border-radius: 2px;
    }

        .wrap-contact2 .tab .tablinks:hover {
            font-weight: 700;
            color: #fff;
            background-color: darkgray;
        }

        .wrap-contact2 .tab .tablinks.active {
            font-weight: 700;
            color: #fff;
            background-color: deepskyblue;
            border-bottom-color: #30e1df;
        }






@media screen and (max-width: 991px) {
    .wrap-contact2 {
        margin: 180px 20px;
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }
       

}

.wrap-contact2 .tab {
    margin-top: 45px;
}
    .wrap-contact2 .tab .tablinks {
        padding-top: 20px;
        -o-outline: none;
        -ms-outline: none;
        -moz-outline: none;
        -webkit-outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        border-bottom: 3px solid;
        border-bottom-color: rgba(255, 255, 255, 0.2);
        width: 100%;
        color: black;
        padding-bottom: 22px;
        font-weight: 400;
    }
@media screen and (min-width: 791px) {
    .wrap-contact2 .tab .tablinks {
     
        font-size:32px;
     
     
      
    }
}
@media screen and (max-width:790px) and (min-width:551px) {
    .wrap-contact2 .tab .tablinks {
     
        font-size: 20px;
     
    }
}


    @media screen and (max-width: 325px) {
        .wrap-contact2 .tab {
            flex-direction: column;
            -o-flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
        }

         
    }



    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

    .frame {
        height: 500px;
        border-radius: 2px;
        box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
        background: #3A92AF;
        background: linear-gradient(to top right, #3A92AF 0%, #5CA05A 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3A92AF", endColorstr="#5CA05A",GradientType=1 );
        color: #fff;
        font-family: "Open Sans", Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 20px;
    }

    .centerIndex {
        position: absolute;
        width: 300px;
        height: 260px;
        margin: auto;
        left: 0;
        right: 0;
        margin-top: 30px;
        background: #fff;
        box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }


        .centerIndex .title {
            font-size: 16px;
            color: #676767;
            line-height: 50px;
            height: 50px;
            border-bottom: 1px solid #D8D8D8;
            text-align: center;
        }

    .dropzone {
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        display: table;
        table-layout: fixed;
        width: 100px;
        height: 80px;
        top: 86px;
        left: 100px;
        border: 1px dashed #A4A4A4;
        border-radius: 3px;
        text-align: center;
        overflow: hidden;
    }

        .dropzone.is-dragover {
            border-color: #666;
            background: #eee;
        }

        .dropzone .content {
            display: table-cell;
            vertical-align: middle;
        }

        .dropzone .upload {
            margin: 6px 0 0 2px;
        }

        .dropzone .filename {
            display: block;
            color: #676767;
            font-size: 14px;
            line-height: 18px;
        }

        .dropzone .input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }

    .upload-btn {
        position: absolute;
        width: 140px;
        height: 40px;
        left: 80px;
        bottom: 24px;
        background: #6ECE3B;
        border-radius: 3px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        box-shadow: 0 2px 0 0 #498C25;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

        .upload-btn:hover {
            box-shadow: 0 2px 0 0 #498C25, 0 2px 10px 0 #6ECE3B;
        }

    .bar {
        position: absolute;
        z-index: 1;
        width: 300px;
        height: 3px;
        top: 49px;
        left: 0;
        background: #6ECE3B;
        transition: all 3s ease-out;
        transform: scaleX(0);
        transform-origin: 0 0;
    }

        .bar.active {
            transform: scaleX(1) translate3d(0, 0, 0);
        }

    .syncing {
        position: absolute;
        top: 109px;
        left: 134px;
        opacity: 0;
    }

        .syncing.active {
            -webkit-animation: syncing 3.2s ease-in-out;
            animation: syncing 3.2s ease-in-out;
        }

    .done {
        position: absolute;
        top: 112px;
        left: 132px;
        opacity: 0;
    }

        .done.active {
            -webkit-animation: done 0.5s ease-in 3.2s;
            animation: done 0.5s ease-in 3.2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

    @-webkit-keyframes syncing {
        0% {
            transform: rotate(0deg);
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0;
        }
    }

    @keyframes syncing {
        0% {
            transform: rotate(0deg);
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0;
        }
    }

    @-webkit-keyframes done {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    /*formschool*/


    .booking-form {
        background-color: black;
        border-radius: 2px;
        width: 100%;
    }

        .booking-form > form .row.no-margin {
            margin-right: 0px;
            margin-left: 0px;
        }

            .booking-form > form .row.no-margin > [class*="col-"] {
                padding-right: 0px;
                padding-left: 0px;
            }

        .booking-form .form-group {
            position: relative;
            padding: 25px;
            margin-bottom: 0px;
        }
@media screen and (min-width:805px) {

    .booking-form .separator:after {
        content: '';
        background: rgb(240, 240, 240);
        position: absolute;
        top: 25px;
        bottom: 0;
        right: 0px;
        width: 2px;
        height: 75px;
    }

}

        .booking-form .form-control {
            background-color: transparent;
            border-radius: 0px;
            border: none;
            height: 50px;
            background: white;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 20px;
            font-weight: 400;
            padding: 0;
        }

            .booking-form .form-control::-webkit-input-placeholder {
                color: #818390;
            }

            .booking-form .form-control:-ms-input-placeholder {
                color: #818390;
            }

            .booking-form .form-control::placeholder {
                color: #818390;
            }

        .booking-form input[type="date"].form-control:invalid {
            color: #818390;
        }

        .booking-form select.form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

            .booking-form select.form-control + .select-arrow {
                position: absolute;
                right: 0px;
                bottom: 30px;
                width: 32px;
                line-height: 32px;
                height: 32px;
                text-align: center;
                pointer-events: none;
                color: #818390;
                font-size: 14px;
            }

                .booking-form select.form-control + .select-arrow:after {
                    content: '\279C';
                    display: block;
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }

        .booking-form .form-label {
            color: yellow;
            display: block;
            font-weight: 400;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
        }

        .booking-form .form-btn {
            padding: 25px;
        }

        .booking-form .submit-btn {
            background: #ff0063;
            border: none;
            text-transform: capitalize;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 75px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }

        .booking-form .form-header {
            padding: 15px 10px;
            font-family: 'Alegreya', serif;
            margin-bottom: 20px;
            font-size: 52px;
            color: #F2AA4CFF;
            font-weight: bold;
            border: none;
        }

            .booking-form .form-header button {
                float: right;
                margin-top: 40px;
                margin-right: -10px;
            }

    .new {
        border: 1px solid;
        text-align: center;
        background-color: goldenrod;
        color: white;
        font-weight: bold;
    }
