Country:<select id="country"></select>

District:<select id="district"><option>Choose district</option></select>

ward:<select id="ward"><option selected>choose Ward</option></select>

<p id="A1"></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/Kimdat/example3.js"></script>
